# Whitelist specific build files by ignoring <<file*>>
src/dw_client*
src/dw_node*
src/dw_proxy*
src/test_ccmd*
src/test_distrib*
src/test_message*
src/test_pqueue*
src/test_queue*
src/test_timespec*

# Unignore their sourcefiles <<file.c>> (they don't have <<file.h>>, else that also should be unignored)
!src/dw_client.c
!src/dw_node.c
!src/dw_proxy.c
!src/test_ccmd.c
!src/test_distrib.c
!src/test_message.c
!src/test_pqueue.c
!src/test_queue.c
!src/test_timespec.c


# Ignore all files with extensions `.d`, `.o`, `.data`, `.gcno`, `.gcda`, `.gcov`
*.d
*.o
*.data

*.gcno 
*.gcda 
*.gcov


# Other files to ignore

test/log_tests.txt

.idea
.vscode
.dir-locals.el


