# avoid src/ build files 
src/dw_client*
src/dw_node*
src/dw_proxy*
src/test_ccmd*
src/test_distrib*
src/test_message*
src/test_pqueue*
src/test_queue*
src/test_timespec*

# unignore all sourcefiles
!src/*.c
!src/*.h


# Ignore all build and gcovr files
*.d
*.o
*.data

*.gcno 
*.gcda 
*.gcov


# Other files to ignore

test/log_tests.txt

.idea
.vscode
.dir-locals.el
